#arquivos removidos do depositório devido ao tamanho
COTAHIST_A2018.TXT
COTAHIST_A2019.TXT
COTAHIST_A2020.TXT
COTAHIST_A2021.TXT
COTAHIST_A2022.TXT
datab3.csv
dados_cvm/dfp_cia_aberta_2010.zip
dados_cvm/dfp_cia_aberta_2011.zip
dados_cvm/dfp_cia_aberta_2012.zip
dados_cvm/dfp_cia_aberta_2013.zip
dados_cvm/dfp_cia_aberta_2014.zip
dados_cvm/dfp_cia_aberta_2015.zip
dados_cvm/dfp_cia_aberta_2016.zip
dados_cvm/dfp_cia_aberta_2017.zip
dados_cvm/dfp_cia_aberta_2018.zip
dados_cvm/dfp_cia_aberta_2019.zip
dados_cvm/dfp_cia_aberta_2020.zip
dados_cvm/dfp_cia_aberta_2021.zip
dados_cvm/dfp_cia_aberta_2022.zip
dados_cvm/itr_cia_aberta_2010.zip
dados_cvm/itr_cia_aberta_2011.zip
dados_cvm/itr_cia_aberta_2012.zip
dados_cvm/itr_cia_aberta_2013.zip
dados_cvm/itr_cia_aberta_2014.zip
dados_cvm/itr_cia_aberta_2015.zip
dados_cvm/itr_cia_aberta_2016.zip
dados_cvm/itr_cia_aberta_2017.zip
dados_cvm/itr_cia_aberta_2018.zip
dados_cvm/itr_cia_aberta_2019.zip
dados_cvm/itr_cia_aberta_2020.zip
dados_cvm/itr_cia_aberta_2021.zip
dados_cvm/itr_cia_aberta_2022.zip
dados_cvm/DFP/dfp_cia_aberta_2010.zip
dados_cvm/DFP/dfp_cia_aberta_2011.zip
dados_cvm/DFP/dfp_cia_aberta_2012.zip
dados_cvm/DFP/dfp_cia_aberta_2013.zip
dados_cvm/DFP/dfp_cia_aberta_2014.zip
dados_cvm/DFP/dfp_cia_aberta_2015.zip
dados_cvm/DFP/dfp_cia_aberta_2016.zip
dados_cvm/DFP/dfp_cia_aberta_2017.zip
dados_cvm/DFP/dfp_cia_aberta_2018.zip
dados_cvm/DFP/dfp_cia_aberta_2019.zip
dados_cvm/DFP/dfp_cia_aberta_2020.zip
dados_cvm/DFP/dfp_cia_aberta_2021.zip
dados_cvm/DFP/dfp_cia_aberta_2022.zip
dados_cvm/ITR/itr_cia_aberta_2018.zip
dados_cvm/ITR/itr_cia_aberta_2019.zip
dados_cvm/ITR/itr_cia_aberta_2020.zip
dados_cvm/ITR/itr_cia_aberta_2021.zip
dados_cvm/ITR/itr_cia_aberta_2022.zip
base.csv
dados_cvm/DFP/filtro_dreDFP.csv
dados_cvm/ITR/filtro_dreITR.csv
